body{margin-left:1em;}

p{text-indent:2em;}
p.ja{text-indent:1em;}
.emph{color: red;}

ul.paper{
    list-style-type:none;
    padding: 0
}

.smallcaps{font-variant: small-caps;}
.papertitle{font-style:italic;}

.right{text-align:right;}

.applicant{font-weight:bold;}

#papers li{
/*    display:none; */
}
#seeAllPapers {
    color: blue;
    cursor:pointer;
}
#hideOldPapers {
    color: blue;
    cursor:pointer;
}

h2 {
    clear: both;
}

figure {
    float: left;
    padding-right: 0px;
}
